body {
  margin: 0;
}

.bg {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(https://lolstatic-a.akamaihd.net/lolkit/1.1.6/resources/images/bg-default.jpg);
    background-attachment: fixed;
}

.bg::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

img {
  width: 100%;
}

.video_carousel_card {
  display: inline-block;
  width: 300px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.video_wrapper, .avatar_wrapper {
  /* replace default setting 造成非預期的撐高元素高度 */
  line-height: 0;
}

.avatar_wrapper {
  width: 20%;
  margin: 10px;
}

.thumbnail {
  /* circle avatar */
  border-radius: 50%;
}

.video_carousel_row {
  text-align: center;
  position: relative;
}

.info_wrapper {
  display: flex;
  align-items: center;
  text-align: left;
}
